html{
    display: inline-flex;
    font-family: 'Quicksand', sans-serif;
}
body{
    background-color: rgb(32, 33, 36);
    color: rgb(154, 160, 166);
    margin: 0;
}
/* BUTTON KOJI NE KORISTIM .sidenav__logoff{
    color: rgb(154, 160, 166); 
    background-color: rgb(32, 33, 36);
    border: none;
    border-radius: 25px;
    font-size: 25px;
    margin: 15%;
    padding: 7px;
    width: 70%;
    box-shadow: rgb(0 0 0) 0px 7px 29px 0px;
    position: absolute;
}*/
.navbar__currentuser{
    display: inline-flex;
    position: absolute;
    right: 68px;
    font-size: 20px;
}
.navbar{
    position: relative;
    display: flex;
}
.sidenav__icon{
    margin: 10px;
    cursor: pointer;
    font-size: 48px;
}
.sidenav__text{
    display: inline-flex;
    margin-top: 11px;
    font-size: 35px;
}
.navbar__dropdown__usericon{
    display: inline-flex;
    position: absolute;
    right: 10px;
    font-size: 48px;
    cursor: pointer;
}
.navbar__dropdown{
    display: inline-flex;
    position: absolute;
    right: 10px;
    margin: 10px;
}
.navbar__dropdown__content {
    display: none;
    position: absolute;
    right: 10px;
    margin-top: 45px;
    background-color: rgb(48, 49, 52);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.navbar__dropdown__content a {
    color: rgb(154, 160, 166);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 
.navbar__dropdown__content a:hover {
    color: #f1f1f1;
}
.navbar__dropdown:hover .navbar__dropdown__content {
    display: block;
} 
.navbar__dropdown:hover .navbar__dropdown__btn {
    color: white;
}
.img{
    width: 100%;
    height: 500px;
    opacity: 0.4;
}
.main__title{
    position: absolute;
    top: 40%;
    width: 100%;
    text-align: center;
    font-size: 18px;;
}